* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #b3e6f2;
    height: 100vh;
}

.header, .footer {
    background-color: #00bfbf;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    flex: 1;
}

.aside {
    /* background-color: #3d4ba2; */
    background: linear-gradient(to right, #2c3e50, #3498db);
    flex: 1;
    padding: 20px;
    text-align: center;
}

.main {
    background-color: #ffa64d;
    flex: 3;
    padding: 20px;
}

.article {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.image {
    background-color: #ffd966;
    flex: 1;
    margin: 10px;
    padding: 40px;
    text-align: center;
    font-size: 18px;
}
